body {
    background-color: rgba(105, 83, 94, 0.993);
    color: rgb(226, 213, 222);
}
header{
    background-image: url(banner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-family: fantasy;
    text-align: center;
    color: rgb(165, 131, 153);
    -webkit-text-stroke: 2px #fff;
    font-size: 500%;
}
#keret{
    padding: 2.5%;
}
#fold{
    width: 110%;
}