body {
    background-image: url(bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(99, 49, 87);
}
header{
    background-image: url(banner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-align: justify;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
h1{
    font-family: fantasy;
    text-align: center;
    color: rgb(165, 131, 153);
    -webkit-text-stroke: 2px #fff;
    font-size: 500%;
}
#belsokeret{
    background-color: rgba(247, 246, 246, 0.247);
    border-radius: 5%;
    padding: 2.5%;
}
#keret{
    padding: 2.5%;
    background-image: url(divbgg.png);
    background-repeat: no-repeat;
    background-size:contain;
}
#fold{
    width: 110%;
}
.felsorolas{
    list-style-image: url(pinkflowerpngMANY.png);
    list-style-position: inside;
}
a:link{
    color: rgb(165, 131, 153);
}
a:hover{
    color: rgb(165, 131, 153);
    font-weight: bolder;
}
a:visited{
    color: rgb(165, 131, 153);
}
#fenntfejlodes{
    width: 50%;
    height: 35%;
    display: block;
    margin: auto;
}
#viz{
    width: 50%;
    height: 45%;
    display: block;
    margin: auto;
}
#pitypang{
    width: 100%;
}
.footer{
    text-align: center;
}
#eroforras{
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 10%;
}