body {
    background-color: rgb(143, 120, 135);
    color: rgb(0, 0, 0);
}
header{
    background-image: url(banner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 0.5px rgb(77, 42, 60);
    text-align: justify;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 0.5px rgb(77, 42, 60);
}
h1{
    font-family: fantasy;
    text-align: center;
    color: rgb(165, 131, 153);
    -webkit-text-stroke: 2px #fff;
    font-size: 500%;
}
#keret{
    padding: 2.5%;
    background-image: url(divbg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#fold{
    width: 110%;
}
.felsorolas{
    list-style-image: url(pinkflowerpngMANY.png);
    list-style-position: inside;
}